
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<h1>Will</h1>
<h2>@ViewBag.Value</h2>
<head>
	<meta name="viewport" content="width=device-width"/>
	<title>Index</title>
</head>
<body>
<div>
</div>
</body>
</html>
